
body {
    padding: 0;
    margin: 0;
    background-image: url(../images/papyrus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

header {
    height: 100px;
    width: 100vw;
    background-image: url(../images/leavedrops.jpg);
    background-size: cover;
    position: fixed; top: 0px;
    display: block;
    z-index: 100;
}

h1 {
    display: inline;
    margin-left: 2vw;
    color: rgb(75, 40, 40);
    z-index: 101;
}

.offerdiv {
    margin-left: 20vw;
    color:rgb(75, 40, 40);
}

.offerdiv a {
    text-decoration: none;
    color:rgb(123, 90, 90);
}

.offerdiv a:hover {
    color:rgba(255,228,196, 0.5);
}

.navigation {
    z-index: 101;
}

.navigation li{
    display: inline-block;
    
}

.navigation a:hover {
    color:rgba(131, 85, 85, 0.7)
}

.firstnava {
    margin-left: 5vw;
}

.navigation a{
    padding: 0.5em;
    text-decoration: none;
    color: rgb(75, 40, 40);
    background-color:rgba(255,228,196, 0.5);
    box-sizing: border-box;
}



.officediv {
    background-attachment: fixed;
    margin-top: 3vh;
    margin-left: 10vw;
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: rgb(75, 40, 40);
    background-color:rgba(131, 85, 85, 0.7);
    border-radius: 7%;
}

.myofficeimage {
    width: 700px;
    height: 350px;
    margin: 1em;
    display: inline-block;
    border-radius: 7%;
}

.contactinfobody {
    background-color:rgba(255,228,196, 0.5);
    background-image: none;
}

.contactinfobody h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(75, 40, 40);
    margin-left: 60px;
}

.contactinfobody p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(75, 40, 40);
    margin-left: 30px;
}



.mycontactinfoframe {
    width: 300px;
    height: 130px;
    margin-left: 20vw;
    padding: 5px;
    display:block;
    background-color:rgba(255,228,196, 0.5);
    border-radius: 7%;
}

.mediabody {
    background-image: url(../images/filmrulle.jpg);
}

.mediabody div {
    background-color:rgba(131, 85, 85, 0.7);
    margin-top: 3vh;
    margin-left: 10vw;
    padding: 2em;
    width: fit-content;
    height:fit-content;
    border-radius: 7%;
    z-index: 50;
}

.mediabody video {
    width: 560px;
    height: 315px;
}

.productsbody {
    background-image: url(../images/workerblurred.jpg);
}

.producttable {
    table-layout: fixed;
    width:800px;
    height:90vh;
    color:rgb(75, 40, 40);
    border-width: 5px;
    border-color: darkgreen;
    margin-top:3vh;
    margin-left: 10vw;
    padding: 1em;
    background-color:rgba(131, 85, 85, 0.5);
    border-radius: 7%;
    text-align: center;

}

.customerbasket {
    text-align: center;
}

.producttable tr, th, td {
    border-style: none;
}



.crane1, .excavator1 {
    width: 390px;
    height: 200px;
    border-radius: 10px;
}

.truck1 {
    width: 200px;
    height: 200px;
}


.producttable tr:hover {
    transform: scale(1.1);
    color: rgba(255,228,196, 0.5);
    border-style: none;
}

.formdiv {
    background-color:rgba(131, 85, 85, 0.7);
    margin-top: 20vh; 
    margin-left: 10vw;
    padding:20px; 
    text-align: left; 
    width: 600px;
    border-radius: 7%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.submitbtn {
    width: 200px;
    height: 50px;
    margin-left: 150px;
}

.personaltable {
    table-layout: fixed;
    color:rgb(75, 40, 40);
    margin-top:3vh;
    margin-left: 10vw;
    width: 800px;
    padding: 1em;
    background-color:rgba(131, 85, 85, 0.5);
    border-width: 5px;
    border-radius: 7%;
    border-color: darkgreen;
    text-align: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.img1 {
        width: 248px;
        height: 180px;
        border-radius: 7%;
        display: block;
}

.img2 {
    width: 248px;
    height: 180px;
    border-radius: 7%;
    display: block;
}

.img3 {
    width: 248px;
    height: 180px;
    border-radius: 7%;
    display: block;
}

.mail {
    text-decoration: none;
    color: darkgreen;
}

.mail:hover {
    color:rgba(255,228,196, 0.5);
}

.contactusbody {
    background-image: url(../images/browncloth.jpg);
}

.personaldiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 15em;
    margin: 2vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(131, 85, 85, 0.5);
    border: 3px solid black;
    padding: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 7%;
}